html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

body {
  font-family: Campton, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #000;
}

a {
  color: #F26B38;
  text-decoration: none;
  -webkit-transition: color 200ms ease-in-out, opacity 200ms ease-in-out, background 200ms ease-in-out;
  transition: color 200ms ease-in-out, opacity 200ms ease-in-out, background 200ms ease-in-out;
}

a:hover {
  color: currentColor;
}

svg {
  vertical-align: top;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

img {
  max-width: 100%;
  vertical-align: top;
}

@font-face {
  font-family: 'Egyptienne';
  src: url("../fonts/2D5A01_1_0.eot");
  src: url("../fonts/2D5A01_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_1_0.woff2") format("woff2"), url("../fonts/2D5A01_1_0.woff") format("woff"), url("../fonts/2D5A01_1_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Egyptienne';
  src: url("../fonts/2D5A01_2_0.eot");
  src: url("../fonts/2D5A01_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_2_0.woff2") format("woff2"), url("../fonts/2D5A01_2_0.woff") format("woff"), url("../fonts/2D5A01_2_0.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Egyptienne';
  src: url("../fonts/2D5A01_3_0.eot");
  src: url("../fonts/2D5A01_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_3_0.woff2") format("woff2"), url("../fonts/2D5A01_3_0.woff") format("woff"), url("../fonts/2D5A01_3_0.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url("../fonts/2D5A01_C_0.eot");
  src: url("../fonts/2D5A01_C_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_C_0.woff2") format("woff2"), url("../fonts/2D5A01_C_0.woff") format("woff"), url("../fonts/2D5A01_C_0.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url("../fonts/2D5A01_F_0.eot");
  src: url("../fonts/2D5A01_F_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_F_0.woff2") format("woff2"), url("../fonts/2D5A01_F_0.woff") format("woff"), url("../fonts/2D5A01_F_0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url("../fonts/2D5A01_A_0.eot");
  src: url("../fonts/2D5A01_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_A_0.woff2") format("woff2"), url("../fonts/2D5A01_A_0.woff") format("woff"), url("../fonts/2D5A01_A_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Campton';
  src: url("../fonts/2D5A01_6_0.eot");
  src: url("../fonts/2D5A01_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D5A01_6_0.woff2") format("woff2"), url("../fonts/2D5A01_6_0.woff") format("woff"), url("../fonts/2D5A01_6_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.hide {
  position: absolute !important;
  left: -9999em !important;
}

.accessibility-nav {
  position: absolute;
  top: 0;
  left: -9999em;
  z-index: 1000;
}

.accessibility-nav a {
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.accessibility-nav a:active,
.accessibility-nav a:focus {
  left: 9999em;
}

.alignnone {
  margin: 4.999px 20px 20px 0;
  margin: 0.3571428571rem 1.4285714286rem 1.4285714286rem 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 4.999px auto;
  margin: 0.3571428571rem auto;
}

.alignright {
  float: right;
  margin: 4.999px 0 20px 20px;
  margin: 0.3571428571rem 0 1.4285714286rem 1.4285714286rem;
}

.alignleft {
  float: left;
  margin: 4.999px 20px 20px 0;
  margin: 0.3571428571rem 1.4285714286rem 1.4285714286rem 0;
}

.aligncenter {
  display: block;
  margin: 4.999px auto;
  margin: 0.3571428571rem auto;
}

a img.alignright {
  float: right;
  margin: 4.999px 0 20px 20px;
  margin: 0.3571428571rem 0 1.4285714286rem 1.4285714286rem;
}

a img.alignleft {
  float: left;
  margin: 4.999px 20px 20px 0;
  margin: 0.3571428571rem 1.4285714286rem 1.4285714286rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  padding: 4.999px 3px 0 3px;
  padding: 0.3571428571rem 3px 0 3px;
  max-width: 96%;
  /* Image does not overflow the content area */
  text-align: center;
  background: #fff;
  border: 1px solid #f0f0f0;
}

.wp-caption.aligncenter {
  margin: 4.999px auto 20px auto;
  margin: 0.3571428571rem auto 1.4285714286rem auto;
}

.wp-caption.alignnone {
  margin: 4.999px auto 20px auto;
  margin: 0.3571428571rem auto 1.4285714286rem auto;
}

.wp-caption.alignleft {
  margin: 4.999px 20px 20px 0;
  margin: 0.3571428571rem 1.4285714286rem 1.4285714286rem 0;
}

.wp-caption.alignright {
  margin: 4.999px 0 20px 20px;
  margin: 0.3571428571rem 0 1.4285714286rem 1.4285714286rem;
}

.wp-caption img {
  width: auto;
  height: auto;
  max-width: 98.5%;
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 0 4px 4.999px;
  padding: 0 4px 0.3571428571rem;
  font-size: 11px;
  line-height: 17px;
}

.container {
  width: 100%;
  max-width: 959.999px;
  max-width: 68.5714285714rem;
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 1.4285714286rem;
}

@media (max-width: 736px) {
  .container {
    padding: 0 0.7142857143rem;
  }

}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #000;
  color: #7F7F7F;
  border-top: 3.999px solid #F26B38;
  border-top: 0.2857142857rem solid #F26B38;
  -webkit-transition: border-top-color 350ms ease-in-out;
  transition: border-top-color 350ms ease-in-out;
}

.admin-bar .header {
  top: 31.999px;
  top: 2.2857142857rem;
}

.header__logo {
  display: block;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height 350ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: max-height 350ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: max-height 350ms ease-in-out, transform 350ms ease-in-out, opacity 350ms ease-in-out;
  transition: max-height 350ms ease-in-out, transform 350ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header__toggle {
  display: none;
}

.header__navigation {
  position: relative;
  margin: 0 -20px;
  margin: 0 -1.4285714286rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
}

.header__navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header__navigation__events {
  display: none !important;
}

.header__navigation ul ul {
  background: #000;
  display: block;
  position: absolute;
  text-align: left;
  padding: 0 0 10px;
  padding: 0 0 0.7142857143rem;
  margin: -10px 0 0 0;
  margin: -0.7142857143rem 0 0 0;
  -webkit-transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out 200ms;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-0.7142857143rem) scale(0.975);
          transform: translateY(-0.7142857143rem) scale(0.975);
}

.header__navigation li:hover ul {
  -webkit-transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.header__navigation a {
  display: block;
  color: currentColor;
  padding: 14.999px 20px;
  padding: 1.0714285714rem 1.4285714286rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0.125em;
}

.header__navigation a:hover {
  color: #fff;
}

.header__navigation span {
  position: relative;
}

.header__navigation ul ul a {
  padding-top: 0;
  padding-bottom: 0;
}

.header__navigation__item > a > span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0.999px;
  height: 0.0714285714rem;
  margin-top: 0.75em;
  background: transparent;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.header__navigation__item--current > a {
  color: #fff;
}

.header__navigation__item--current > a > span::before {
  background: #F26B38;
}

.header__navigation__item--dropdown > a > span::after {
  content: '';
  height: 0;
  width: 0;
  top: 50%;
  margin: -4.999px 0 0 4.999px;
  margin: -0.3571428571rem 0 0 0.3571428571rem;
  position: absolute;
  border: 4.999px solid transparent;
  border: 0.3571428571rem solid transparent;
  border-top-color: #7F7F7F;
  border-top-width: 9px;
  border-top-width: 0.6428571429rem;
}

.header__page-title {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #F26B38;
  color: #fff;
  padding: 20px 0;
  padding: 1.4285714286rem 0;
  text-align: left;
  text-transform: none;
  font-size: 30px;
  font-size: 2.1428571429rem;
}

.header--expanded {
  border-top-color: transparent;
}

.header--expanded .header__logo {
  max-height: 4em;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1023px) {
  .header {
    -webkit-transition: background 200ms ease-in-out, border-top-color 350ms ease-in-out;
    transition: background 200ms ease-in-out, border-top-color 350ms ease-in-out;
    border-top-width: 0.1428571429rem;
    padding-top: 0.4285714286rem;
    padding-bottom: 0.8571428571rem;
  }

  .header > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    max-height: none;
    margin: 0 auto;
  }

  .header__toggle {
    position: absolute;
    display: block;
    height: 1.5714285714rem;
    width: 1.8571428571rem;
    background: none;
    border: none;
    outline: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header__toggle span {
    display: block;
  }

  .header__toggle span, .header__toggle span::before, .header__toggle span::after {
    content: '';
    height: 0.2857142857rem;
    left: 0;
    right: 0;
    background: #F0F0F0;
    -webkit-transition: background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out;
    transition: transform 200ms ease-in-out, background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }

  .header__toggle span::before, .header__toggle span::after {
    position: absolute;
  }

  .header__toggle span::before {
    top: 0;
  }

  .header__toggle span::after {
    bottom: 0;
  }

  .header__navigation {
    position: fixed;
    top: 3.7142857143rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F0F0F0;
    margin: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    text-align: left;
    -webkit-transition: opacity 200ms ease-in-out, visibility 0ms ease-in-out 200ms, -webkit-transform 0ms ease-in-out 200ms;
    transition: opacity 200ms ease-in-out, visibility 0ms ease-in-out 200ms, -webkit-transform 0ms ease-in-out 200ms;
    transition: opacity 200ms ease-in-out, transform 0ms ease-in-out 200ms, visibility 0ms ease-in-out 200ms;
    transition: opacity 200ms ease-in-out, transform 0ms ease-in-out 200ms, visibility 0ms ease-in-out 200ms, -webkit-transform 0ms ease-in-out 200ms;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .header__navigation__item {
    border-top: 0.1428571429rem solid white;
    padding: 0;
    position: static;
  }

  .header__navigation__item--current span::before,
  .header__navigation__item--dropdown span::after {
    display: none;
  }

  .header__navigation__item--current a {
    color: #7F7F7F;
  }

  .header__navigation ul, .header__navigation ul ul {
    display: block;
    background: transparent;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    position: static;
    padding: 0;
    margin: 0;
    -webkit-transition: none;
    transition: none;
  }

  .header__navigation ul ul {
    visibility: inherit;
  }

  .header__navigation a, .header__navigation ul ul a {
    display: block;
    padding: 0.7142857143rem 1.4285714286rem;
  }

  .header__navigation a:hover, .header__navigation ul ul a:hover {
    color: #7F7F7F;
  }

  .header__navigation ul ul a {
    padding-left: 2.8571428571rem;
  }

  .header__navigation__events {
    display: block !important;
    border-bottom: 0.1428571429rem solid white;
  }

  .header__navigation__events a, .header__navigation__events a:hover {
    font-size: 0.8571428571rem;
    color: #F26B38;
  }

  .header--open {
    background: #3C3C3C;
  }

  .header--open .header__logo {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .header--open .header__toggle span {
    background: #3C3C3C;
  }

  .header--open .header__toggle span, .header--open .header__toggle span::before, .header--open .header__toggle span::after {
    -webkit-transition: background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out;
    transition: transform 200ms ease-in-out, background 200ms ease-in-out, top 200ms ease-in-out, bottom 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }

  .header--open .header__toggle span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0.6428571429rem;
  }

  .header--open .header__toggle span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0.6428571429rem;
  }

  .header--open .header__navigation {
    -webkit-transition: opacity 200ms ease-in-out, visibility 0ms ease-in-out, -webkit-transform 0ms ease-in-out;
    transition: opacity 200ms ease-in-out, visibility 0ms ease-in-out, -webkit-transform 0ms ease-in-out;
    transition: opacity 200ms ease-in-out, transform 0ms ease-in-out, visibility 0ms ease-in-out;
    transition: opacity 200ms ease-in-out, transform 0ms ease-in-out, visibility 0ms ease-in-out, -webkit-transform 0ms ease-in-out;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .header--open, .header--expanded {
    border-top-color: transparent;
  }

}

@media (max-width: 782px) {
  .admin-bar .header {
    top: 3.2857142857rem;
  }

}

@media (max-width: 736px) {
  .header__page-title {
    font-size: 1.7142857143rem;
    padding: 1.0714285714rem 0;
  }

}

.page--static {
  padding-top: 179.999px;
  padding-top: 12.8571428571rem;
}

.page--with-header {
  padding-top: 249.999px;
  padding-top: 17.8571428571rem;
}

.page--home {
  padding-top: 0;
}

@media (max-width: 1023px) {
  .page--static {
    padding-top: 8.5714285714rem;
  }

  .page--with-header {
    padding-top: 13.5714285714rem;
  }

}

@media (max-width: 736px) {
  .page--static {
    padding-top: 5.7142857143rem;
  }

  .page--with-header {
    padding-top: 10rem;
  }

}

.page-slide {
  background: center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.page-slide, .page-slide .fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-slide .fp-tableCell {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.page-slide__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: center no-repeat;
  background-size: cover;
}

.page-slide__body {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.page-slide--light {
  background-color: #fff;
  color: #000;
}

.page-slide--accent {
  background-color: #F26B38;
  color: #fff;
}

.page-slide--accent a {
  color: #3C3C3C;
}

.page-slide--accent a:hover {
  color: #000;
}

.page-slide--dark {
  background-color: #000;
  color: #fff;
}

@media (min-height: 850px) {
  .page-slide__body {
    min-height: 35.7142857143rem;
  }

}

@media (max-width: 1023px) {
  .page-slide {
    height: auto;
    width: auto;
    padding: 3.5714285714rem 0;
  }

}

@media (max-width: 736px) {
  .page-slide__background {
    display: none;
  }

  .page-slide__background--mobile {
    display: block;
    position: static;
    padding-top: 125%;
    margin: 1.4285714286rem -0.7142857143rem 2.1428571429rem;
  }

}

.page-map {
  margin-bottom: 39.999px;
  margin-bottom: 2.8571428571rem;
}

.page-map, .page-map ul, .page-map ol {
  list-style: none;
}

.page-map a {
  color: #000;
}

.page-map a:hover {
  color: #F26B38;
}

.page-map > li {
  padding: 10px 0;
  padding: 0.7142857143rem 0;
}

.page-map > li > a {
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
  display: block;
  border-bottom: 3px solid #F26B38;
  border-bottom: 0.2142857143rem solid #F26B38;
  line-height: 24px;
  line-height: 1.7142857143rem;
}

.page-map > li ul {
  margin-top: 10px;
  margin-top: 0.7142857143rem;
}

.page-map > li li {
  padding: 10px 0 10px 30px;
  padding: 0.7142857143rem 0 0.7142857143rem 2.1428571429rem;
}

.page-map > li li a {
  line-height: 24px;
  line-height: 1.7142857143rem;
  display: block;
  border-bottom: 1.199px solid #000;
  border-bottom: 0.0857142857rem solid #000;
}

.page-map__link ul {
  display: none;
}

.page-map__link--current > a {
  color: #F26B38;
}

.page-map__link--current ul {
  display: block;
}

.slide-top {
  min-height: 90px;
  min-height: 6.4285714286rem;
}

.slide-top > :first-child ~ * {
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

.slide-top > :first-child ~ a {
  display: inline-block;
  text-transform: uppercase;
  color: #7F7F7F;
  margin-top: 35px;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.slide-top > :first-child ~ a:hover {
  color: #000;
}

.slide-top--compact {
  min-height: 70px;
  min-height: 5rem;
}

@media (max-width: 736px) {
  .slide-top {
    min-height: 0;
  }

  .slide-top > :first-child ~ * {
    margin-top: 0.7142857143rem;
  }

  .slide-top > :first-child ~ a {
    margin-top: 1.7857142857rem;
  }

  .slide-top > :first-child ~ a, .slide-top > :first-child ~ a:hover {
    color: #3C3C3C;
  }

}

.site-title {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 0 10px;
  padding: 1rem 0 0.7142857143rem;
  border-bottom: 3.999px solid #F26B38;
  border-bottom: 0.2857142857rem solid #F26B38;
}

.site-title span {
  display: inline-block;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
}

.site-title--header {
  font-size: 11.999px;
  font-size: 0.8571428571rem;
}

@media (max-width: 1023px) {
  .site-title--header {
    padding: 0.7142857143rem 0 0.4285714286rem;
    border-bottom-width: 0.2142857143rem;
    font-size: 0.7857142857rem;
  }

}

@media (max-width: 736px) {
  .site-title {
    padding: 0.7142857143rem 0 0.4285714286rem;
    border-bottom-width: 0.2142857143rem;
    font-size: 0.7857142857rem;
  }

}

.split-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.split-content__half {
  -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.split-content__half--light {
  color: #fff;
}

.split-content__half__body--floating {
  position: fixed;
  width: inherit;
}

@media (max-width: 1023px) {
  .split-content__half {
    -webkit-flex-basis: 46%;
        -ms-flex-preferred-size: 46%;
            flex-basis: 46%;
  }

}

@media (max-width: 736px) {
  .split-content {
    display: block;
  }

  .split-content__half--page-map {
    display: none;
  }

}

.items-list + .items-list {
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

.items-list__header {
  position: relative;
  background: #F26B38;
  padding: 10px 0;
  padding: 0.7142857143rem 0;
  color: #fff;
  margin-bottom: 30px;
  margin-bottom: 2.1428571429rem;
  margin-right: -30px;
  margin-right: -2.1428571429rem;
}

.items-list__header::before {
  content: '';
  position: absolute;
  background: #F26B38;
  top: 0;
  right: 0;
  bottom: 0;
  left: -9999em;
  z-index: -1;
}

@media (max-width: 736px) {
  .items-list__header {
    margin-bottom: 2.1428571429rem;
    margin-right: 0.7142857143rem;
  }

  .items-list + .items-list {
    margin-top: 2.1428571429rem;
  }

}

.speakers-slider {
  position: relative;
  border-bottom: 0.999px solid #000;
  border-bottom: 0.0714285714rem solid #000;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speakers-slider * {
  outline: none;
}

.speakers-slider__header {
  margin-bottom: 14.999px;
  margin-bottom: 1.0714285714rem;
}

.speakers-slider__header__pages {
  float: right;
  color: #7F7F7F;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.speakers-slider:hover .speakers-slider__header__pages {
  color: #000;
}

.speakers-slider__slides {
  border-top: 0.999px solid #000;
  border-top: 0.0714285714rem solid #000;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.speakers-slider__slides::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 2px;
  width: 0.1428571429rem;
  background: #fff;
}

.speakers-slider__slides__prev, .speakers-slider__slides__next {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 39.999px;
  font-size: 2.8571428571rem;
  color: #7F7F7F;
  opacity: 1;
  visibility: visible;
  -webkit-transition: color 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  transition: color 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.speakers-slider__slides__prev:hover, .speakers-slider__slides__next:hover {
  color: #000;
}

.speakers-slider__slides__prev[aria-disabled='true'], .speakers-slider__slides__next[aria-disabled='true'] {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: color 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out 200ms;
  transition: color 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out 200ms;
}

.speakers-slider__slides__prev {
  right: 100%;
}

.speakers-slider__slides__next {
  left: 100%;
}

.speakers-slider--full {
  display: block;
}

.speakers-slider--compact {
  display: none;
}

@media (max-width: 1023px) {
  .speakers-slider__slides__prev {
    right: auto;
    left: 1.4285714286rem;
  }

  .speakers-slider__slides__next {
    left: auto;
    right: 1.4285714286rem;
  }

  .speakers-slider--full {
    display: none;
  }

  .speakers-slider--compact {
    display: block;
  }

}

@media (max-width: 736px) {
  .speakers-slider {
    margin-top: 2.1428571429rem;
    margin-left: -0.7142857143rem;
    margin-right: -0.7142857143rem;
  }

  .speakers-slider__header {
    margin-left: 0.7142857143rem;
    margin-right: 0.7142857143rem;
  }

  .speakers-slider__slides {
    background: #F0F0F0;
  }

}

.speaker-slide {
  background: #F0F0F0;
  display: table;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  color: #000;
  overflow: hidden;
  height: 318.999px;
  height: 22.7857142857rem;
}

.speaker-slide__body {
  display: table-row;
}

.speaker-slide__photo, .speaker-slide__info {
  display: table-cell;
  vertical-align: middle;
}

.speaker-slide__photo {
  width: 45%;
}

.speaker-slide__photo img {
  height: 318.999px;
  height: 22.7857142857rem;
  max-width: none;
}

.speaker-slide__info {
  padding: 14.999px;
  padding: 1.0714285714rem;
  width: 55%;
}

.speaker-slide__info__name {
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
}

.speaker-slide__info__bio {
  margin: 20px 0;
  margin: 1.4285714286rem 0;
}

.speaker-slide__info__more {
  text-transform: uppercase;
  font-weight: 700;
  color: #7F7F7F;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

@media (max-width: 1023px) {
  .speaker-slide {
    text-align: center;
    display: table;
    width: 100%;
    height: 22.1428571429rem;
  }

  .speaker-slide__body {
    display: table-cell;
    vertical-align: middle;
  }

  .speaker-slide__photo, .speaker-slide__info {
    display: block;
  }

  .speaker-slide__photo {
    overflow: hidden;
    margin: 0 auto;
    width: 13.5714285714rem;
    height: 13.5714285714rem;
  }

  .speaker-slide__photo img {
    height: auto;
    max-width: 100%;
  }

  .speaker-slide__info {
    width: 13.5714285714rem;
    padding: 0;
    margin: 0 auto;
    text-align: left;
  }

  .speaker-slide__info__bio {
    display: none;
  }

  .speaker-slide__photo + .speaker-slide__info {
    padding-top: 1.4285714286rem;
  }

}

a.speaker-slide:hover {
  background: #E6E6E6;
}

a.speaker-slide:hover a.speaker-slide__info__more {
  color: #000;
}

.speaker {
  position: relative;
  background: #F0F0F0;
  padding: 30px;
  padding: 2.1428571429rem;
  margin: 0 -30px;
  margin: 0 -2.1428571429rem;
}

.speaker + .speaker {
  margin-top: 2px;
  margin-top: 0.1428571429rem;
}

.speaker:nth-child(odd) {
  background: #E6E6E6;
}

.speaker__name {
  margin-bottom: 20px;
  margin-bottom: 1.4285714286rem;
  color: #F26B38;
}

.speaker__photo {
  margin-bottom: 10px;
  margin-bottom: 0.7142857143rem;
}

.speaker__photo img {
  width: 100%;
}

.speaker__photo ~ * {
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

.speaker__link {
  display: inline-block;
  text-transform: uppercase;
  color: #7F7F7F;
  font-weight: 700;
}

.speaker__link:hover {
  color: #000;
}

@media (max-width: 736px) {
  .speaker {
    padding: 1.7857142857rem 0.7142857143rem;
    margin: 0 -0.7142857143rem;
  }

  .speaker__photo {
    margin-left: -0.7142857143rem;
    margin-right: -0.7142857143rem;
  }

}

.event {
  position: relative;
  background: #F0F0F0;
  padding: 30px;
  padding: 2.1428571429rem;
  margin: 30px -30px;
  margin: 2.1428571429rem -2.1428571429rem;
}

.event + .event {
  margin-top: -28px;
  margin-top: -2rem;
}

.event:nth-child(odd) {
  background: #E6E6E6;
}

.event__time {
  font-weight: 700;
  color: #F26B38;
}

.event__time ~ * {
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

.event__link {
  display: inline-block;
  text-transform: uppercase;
  color: #7F7F7F;
  font-weight: 700;
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

.event__link[href]:hover {
  color: #000;
}

.event__location {
  font-weight: 900;
  color: #000;
  margin-top: 10px;
  margin-top: 0.7142857143rem;
}

.event__title {
  font-family: Campton, Helvetica, Arial, sans-serif;
  font-size: 24.999px;
  font-size: 1.7857142857rem;
  font-weight: 400;
}

.event__category {
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  padding-left: 39.999px;
  padding-left: 2.8571428571rem;
}

.event__category::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14.999px;
  margin-top: -1.0714285714rem;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  width: 2.1428571429rem;
  height: 30px;
  height: 2.1428571429rem;
  border-radius: 50%;
  background: currentColor;
}

.event__category span {
  color: #000;
}

.event__about__toggle {
  display: inline-block;
  text-transform: uppercase;
  color: #F26B38;
  font-weight: 900;
}

.event__about__toggle::before {
  content: '+';
  padding-right: 0.25em;
}

.event__about__toggle:hover {
  color: #E74B10;
}

.event__about__copy {
  display: none;
}

.event__about--open .event__about__toggle {
  margin-bottom: 14.999px;
  margin-bottom: 1.0714285714rem;
}

.event__about--open .event__about__toggle::before {
  content: '-';
}

.event__about--open .event__about__copy {
  display: block;
}

.presenter-slide {
  position: relative;
  background: #F0F0F0;
  border-top: 0.999px solid #fff;
  border-top: 0.0714285714rem solid #fff;
  border-bottom: 0.999px solid #fff;
  border-bottom: 0.0714285714rem solid #fff;
  display: table;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  color: #000;
  overflow: hidden;
  height: 105px;
  height: 7.5rem;
}

:first-child > .presenter-slide {
  border-top: 0;
}

:last-child > .presenter-slide {
  border-bottom: 0;
}

.presenter-slide__photo, .presenter-slide__info {
  display: table-cell;
  vertical-align: middle;
}

.presenter-slide__photo {
  width: 20%;
  overflow: hidden;
}

.presenter-slide__photo img {
  height: 105px;
  height: 7.5rem;
}

.presenter-slide__info {
  padding: 14.999px;
  padding: 1.0714285714rem;
  width: 80%;
}

.presenter-slide__info__name {
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
  margin-bottom: 4.999px;
  margin-bottom: 0.3571428571rem;
}

.presenter-slide__info__more {
  color: #7F7F7F;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

a.presenter-slide:hover {
  background: #E6E6E6;
}

a.presenter-slide:hover a.presenter-slide__info__more {
  color: #000;
}

.text-block {
  font-family: Egyptienne, Georgia, "Times New Roman", serif;
  line-height: 1.4;
}

.text-block > * {
  margin-bottom: 20px;
  margin-bottom: 1.4285714286rem;
}

.text-block > :last-child {
  margin-bottom: 0;
}

.text-block ul:not([class]), .text-block ol:not([class]) {
  padding-left: 1.125em;
}

.text-block ul:not([class]) ol, .text-block ol:not([class]) ol {
  list-style-type: lower-alpha;
}

.text-block li {
  margin-bottom: 0.5em;
}

.text-block li::last-child {
  margin-bottom: 0;
}

.text-block li ul, .text-block li ol {
  margin-top: 0.5em;
}

.text-block--sans, .text-block--major {
  font-family: Campton, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.text-block--major {
  font-size: 24.999px;
  font-size: 1.7857142857rem;
  font-weight: 400;
}

@media (max-width: 736px) {
  .text-block {
    font-size: 1.0714285714rem;
  }

  .text-block--sans {
    font-size: 0.9285714286rem;
  }

}

.hero {
  position: relative;
  text-align: center;
  height: 100vh;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.hero__name, .hero__date, .hero__address, .hero__logo {
  position: relative;
  z-index: 1;
}

.hero__name {
  margin-top: 39.999px;
  margin-top: 2.8571428571rem;
  margin-bottom: 59.999px;
  margin-bottom: 4.2857142857rem;
}

.hero__name__edition {
  font-size: 25.999px;
  font-size: 1.8571428571rem;
  letter-spacing: 0.55em;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__name__edition::before {
  content: '';
  padding-left: 0.55em;
}

.hero__date {
  width: 80%;
  margin: 0 auto;
  padding: 24.999px;
  padding: 1.7857142857rem;
  font-size: 45px;
  font-size: 3.2142857143rem;
  font-weight: 700;
  border-top: 0.999px solid #fff;
  border-top: 0.0714285714rem solid #fff;
  border-bottom: 0.999px solid #fff;
  border-bottom: 0.0714285714rem solid #fff;
}

.hero__address {
  margin-top: 39.999px;
  margin-top: 2.8571428571rem;
}

.hero__address br {
  display: none;
}

.hero__address__name {
  font-size: 30px;
  font-size: 2.1428571429rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

.hero__address__info {
  margin-top: 10px;
  margin-top: 0.7142857143rem;
  font-size: 20px;
  font-size: 1.4285714286rem;
}

.hero__logo {
  margin-top: 39.999px;
  margin-top: 2.8571428571rem;
  width: 109.999px;
  width: 7.8571428571rem;
  height: 109.999px;
  height: 7.8571428571rem;
}

@media (max-width: 1023px) {
  .hero__name {
    margin-top: 3vw;
    margin-bottom: 7vw;
  }

  .hero__name__edition {
    font-size: 3vw;
  }

  .hero__date {
    padding: 2.5vw;
    font-size: 4.5vw;
  }

  .hero__address {
    margin-top: 5vw;
  }

  .hero__address__name {
    font-size: 3vw;
  }

  .hero__address__info {
    margin-top: 1vw;
    font-size: 2vw;
  }

  .hero__logo {
    margin-top: 4vw;
    width: 8vw;
    height: 8vw;
  }

}

@media (max-width: 736px) {
  .hero__name {
    margin-top: 0;
    margin-bottom: 2.8571428571rem;
  }

  .hero__name__edition {
    font-size: 1.4285714286rem;
  }

  .hero__date {
    width: 90%;
    padding: 2.5vw;
    font-size: 7vw;
    border-top-width: 0.1428571429rem;
    border-bottom-width: 0.1428571429rem;
  }

  .hero__address {
    margin-top: 2.8571428571rem;
  }

  .hero__address br {
    display: inline;
  }

  .hero__address__name {
    font-size: 1.4285714286rem;
  }

  .hero__address__info {
    margin-top: 0.3571428571rem;
    font-size: 1rem;
  }

  .hero__address__info span {
    display: none;
  }

  .hero__logo {
    margin-top: 2.8571428571rem;
    width: 4.2857142857rem;
    height: 4.2857142857rem;
  }

}

@media (max-width: 480px) {
  .hero__name {
    margin-bottom: 2.1428571429rem;
  }

  .hero__date {
    width: auto;
    padding: 1.0714285714rem 0 1.0714285714rem;
    font-size: 1.9285714286rem;
  }

  .hero__address {
    margin-top: 2.1428571429rem;
  }

  .hero__logo {
    margin-top: 2.1428571429rem;
  }

}

.links-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.links-list__link {
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

.links-list__link:first-child {
  margin-top: 0;
}

.links-list a {
  position: relative;
  display: inline-block;
  margin: -17.5px;
  margin: -1.25rem;
  padding: 17.5px;
  padding: 1.25rem;
  text-transform: uppercase;
  font-family: Campton, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #7F7F7F;
}

.links-list a::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: 1em;
  left: 17.5px;
  left: 1.25rem;
  right: 17.5px;
  right: 1.25rem;
  height: 0.999px;
  height: 0.0714285714rem;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  background: transparent;
}

.links-list--with-space {
  margin-top: 49.999px;
  margin-top: 3.5714285714rem;
}

.links-list__link--current a, .links-list a:hover {
  color: #F26B38;
}

.links-list__link--current a::after, .links-list a:hover::after {
  background: #F26B38;
}

.links-list--light a {
  color: #fff;
}

.links-list--light .links-list__link--current a,
.links-list--light a:hover {
  color: #fff;
}

.links-list--light .links-list__link--current a::after,
.links-list--light a:hover::after {
  background: #fff;
}

.links-list--location a::after, .links-list--faq a::after {
  display: none;
}

.links-list--location a:hover {
  color: #fff;
}

.links-list--faq a:hover {
  color: #000;
}

@media (max-width: 736px) {
  .links-list--with-space {
    margin-top: 2.8571428571rem;
  }

  .links-list--tab {
    display: none;
  }

}

.separator {
  margin-top: 20px;
  margin-top: 1.4285714286rem;
  border-top: 0.999px solid #fff;
  border-top: 0.0714285714rem solid #fff;
  padding-top: 20px;
  padding-top: 1.4285714286rem;
}

.separator--dark {
  border-top-color: #000;
}

.separator--increased-space {
  padding-top: 30px;
  padding-top: 2.1428571429rem;
  margin-top: 30px;
  margin-top: 2.1428571429rem;
}

@media (max-width: 736px) {
  .separator {
    border-top-width: 0.1428571429rem;
  }

  .separator--schedule-info {
    border-top-color: #fff;
  }

  .separator--about, .separator--tab {
    margin-top: 0;
    border-top: 0;
    padding-bottom: 2.1428571429rem;
    border-bottom: 0.1428571429rem solid #fff;
  }

  .separator--tab:last-child {
    border: none;
    padding: 0;
  }

}

.head {
  font-family: Campton, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.head--slide, .head--tab {
  font-size: 30px;
  font-size: 2.1428571429rem;
}

.head--block, .head--slider {
  font-weight: 500;
}

.head--primary {
  font-size: 45px;
  font-size: 3.2142857143rem;
  color: #F26B38;
}

.head--secondary {
  font-size: 30px;
  font-size: 2.1428571429rem;
  color: #F26B38;
}

.head--tertiary {
  font-size: 24.999px;
  font-size: 1.7857142857rem;
  font-weight: 400;
}

@media (max-width: 736px) {
  .head--primary {
    font-size: 1.7857142857rem;
  }

  .head--secondary {
    font-size: 1.4285714286rem;
  }

  .head--tertiary {
    font-size: 1.2857142857rem;
  }

  .head--tertiary br {
    display: none;
  }

  .head--slide {
    font-size: 4vw;
  }

  .head--block {
    font-size: 0.8571428571rem;
  }

  .head--tab {
    color: #3C3C3C;
    font-size: 1rem;
    text-transform: uppercase;
  }

}

@media (max-width: 480px) {
  .head--slide {
    font-size: 1.4285714286rem;
  }

}

.schedule-info__tabs {
  position: relative;
}

.schedule-info__tabs__pane {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  height: 0;
  -webkit-transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.schedule-info__tabs__pane--current {
  position: static;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: auto;
  -webkit-transition: opacity 200ms ease-in-out 200ms, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out 200ms;
  transition: opacity 200ms ease-in-out 200ms, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out 200ms;
  transition: opacity 200ms ease-in-out 200ms, visibility 200ms ease-in-out 200ms, transform 200ms ease-in-out 200ms;
  transition: opacity 200ms ease-in-out 200ms, visibility 200ms ease-in-out 200ms, transform 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out 200ms;
}

@media (max-width: 736px) {
  .schedule-info {
    background: #F26B38;
    color: #fff;
  }

  .schedule-info__copy__tabs {
    display: none;
  }

  .schedule-info__tabs__pane {
    padding-top: 2.8571428571rem;
    visibility: visible;
    position: static;
    opacity: 1;
    height: auto;
    -webkit-transform: none;
            transform: none;
  }

}

.button {
  display: block;
  background: #F26B38;
  text-transform: uppercase;
  color: #fff;
  font-family: Campton, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 17.5px 30px;
  padding: 1.25rem 2.1428571429rem;
  letter-spacing: 0.125em;
}

.button:hover {
  color: #fff;
  background: #E74B10;
}

.button--with-space {
  margin-top: 49.999px;
  margin-top: 3.5714285714rem;
}

.register-now {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  bottom: 1.4285714286rem;
  left: 50%;
  -webkit-transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out 200ms;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out 200ms, -webkit-transform 200ms ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  visibility: hidden;
}

.register-now--on {
  -webkit-transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  opacity: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  visibility: visible;
}

.register-now__button {
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  border: 0.999px solid #F26B38;
  border: 0.0714285714rem solid #F26B38;
  color: #F26B38;
  letter-spacing: 0.25em;
  padding: 14.999px 59.999px;
  padding: 1.0714285714rem 4.2857142857rem;
  text-transform: uppercase;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.register-now__button:hover {
  background: #fff;
  color: #F26B38;
}

@media (max-width: 1023px) {
  .register-now {
    display: none;
  }

}

.footer {
  margin-top: 100px;
  margin-top: 7.1428571429rem;
  background: #000;
  text-align: center;
  color: #7F7F7F;
  font-size: 14.999px;
  font-size: 1.0714285714rem;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: #F26B38;
}

.footer__logo {
  margin-top: 45px;
  margin-top: 3.2142857143rem;
  margin-bottom: 49.999px;
  margin-bottom: 3.5714285714rem;
}

.footer__info {
  margin-bottom: 45px;
  margin-bottom: 3.2142857143rem;
}

.footer__info li {
  list-style: none;
  display: inline-block;
  margin: 0 4.999px;
  margin: 0 0.3571428571rem;
}

.footer__credits {
  border-top: 1.199px solid #7F7F7F;
  border-top: 0.0857142857rem solid #7F7F7F;
  padding: 14.999px;
  padding: 1.0714285714rem;
}

.footer--home {
  display: none;
}

@media (max-width: 1023px) {
  .footer {
    margin-top: 3.5714285714rem;
    display: block;
  }

  .page--home .footer {
    margin-top: 0;
  }

}

.link-back {
  margin-top: auto;
  margin-bottom: -20px;
  margin-bottom: -1.4285714286rem;
  color: #7F7F7F;
  text-transform: uppercase;
  font-family: Campton, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.link-back svg {
  display: block;
  height: 1.4em;
  width: 1.4em;
}

@media (max-width: 736px) {
  .link-back {
    display: none;
  }

}
